{% extends "base_template.html" %}

{% block title %}
    <title>ABC do Saber - Listar Títulos</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'titulo:cadastrar' %}" class="nav-link">Cadastrar</a>
            <a href="{% url 'titulo:listar' %}" class="nav-link active">Listar</a>
        </div>
    </div>
{% endblock %}

{% block titulo_pagina %}
    <div class="container text-center border-bottom border-primary bg-dark text-light">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Títulos</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block corpo %}
        <!-- tabela responsiva -->
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100
                        text-light">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Código</th>
                        <th>Descrição</th>
                    </tr>
                </thead>

                    <!-- linhas -->
                    {% for titulo in lista_de_titulos %}
                    <tr>
                        <td class="text-center"> {{titulo.codigo|stringformat:"02d"}} </td>
                        <td> {{titulo.descricao}} </td>
                    </tr>
                    {% endfor %}
            </table>

        </div>
{% endblock %}
