{% extends "base_template.html" %}

{% block title %}
    <title>ABC do Saber - Cadastro Turma</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Início</a>
            <a href="{% url 'turma:cadastrar' %}" class="nav-link active">Cadastrar</a>
            <a href="{% url 'turma:listar' %}" class="nav-link">Listar</a>
            <a href="{% url 'turma:ausencia' %}" class="nav-link">Registrar Ausência</a>
        </div>
    </div>
{% endblock %}


        <!--
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
    -->

{% block titulo_pagina %}
    <div class="container text-center border-bottom border-primary bg-dark text-light">    
        <div class="row mt-5">
            <div class="col">
                <h1>Cadastro de Turmas</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block corpo %}
    <form name="{% url 'turma:cadastrar' %}" action="#" method="post">
    {% csrf_token %}

        <div class="form-group">
            <label for="idHorarioAula" class="col-form-label">Horário da Aula</label>
            <input class="form-control bg-dark text-light" type="time" id="idHorarioAula" name="horario_aula" required>
        </div>

        <div class="form-group">
            <label for='idDuracaoAula'>Duração da Aula em horas</label>
            <input class="form-control bg-dark text-light" type='number' id='idDuracaoAula' name='duracao_aula' required>
        </div>

        <div class="form-group">
            <label for='idDataInicial'>Data de Início</label>
            <input class="form-control bg-dark text-light" type='date' id='idDataInicial' name='data_inicial' required>
        </div>

        <!-- montagem do combo com os tipos de atividade -->
        <div class="form-group">
            <label for="idTipoAtividade">Tipo de Atividade</label>
            <select class="form-control bg-dark text-light" id="idTipoAtividade" name="codigo_tipo_atividade">
                <option disabled selected value="0">Selecione...</option>
                    {% for atividade in lista_de_atividades %}
                    <option value={{ atividade.codigo }}>{{ atividade.descricao }}</option>
                    {% endfor %}

            </select>
        </div>


        <!-- montagem do combo com os instrutores -->
        <div class="form-group">
            <label for="idInstrutor">Instrutor</label>
            <select class="form-control bg-dark text-light" id="idInstrutor" name="id_instrutor">
                <option disabled selected value="0">Selecione...</option>
                    {% for instrutor in lista_de_instrutores %}
                    <option value={{ instrutor.id }}>{{ instrutor.nome }}</option>
                    {% endfor %}
            </select>
        </div>

        <!-- montagem do combo com os alunos -->
        <div class="form-group">
            <label for="idAluno">Aluno Monitor</label>
            <select class="form-control bg-dark text-light" id="idAluno" name="matricula_monitor">
                <option disabled selected value="0">Selecione...</option>
                    {% for estudante in lista_de_alunos %}
                    <option value={{ estudante.matricula }}>{{ estudante.nome }}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn btn-primary btn-md">
            <input type="submit" value="Cadastrar" class="btn btn-primary btn-md">
        </div>

    </form>
{% endblock %}
