{% extends "base_template.html" %}

{% block title %}
    <title>ABC do Saber - Listar Turmas</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Início</a>
            <a href="{% url 'turma:cadastrar' %}" class="nav-link">Cadastrar</a>
            <a href="{% url 'turma:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'turma:ausencia' %}" class="nav-link">Registrar Ausência</a>
        </div>
    </div>
{% endblock %}


        <!--
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
    -->

    </header>

    <main class="container m-2 w-75 mx-auto my-font-family">
{% block titulo_pagina %}
    <div class="container text-center border-bottom border-primary bg-dark text-light">    
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Turmas</h1>
            </div>
        </div>
    </div>
{% endblock %}

        <!-- tabela responsiva -->
{% block corpo %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100
                    text-light">

            <!-- cabecalho -->
            <thead>
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Número</th>
                    <th>Horário da Aula</th>
                    <th>Duração da Aula</th>
                    <th>Data Inicial</th>
                    <th>Data Final</th>
                    <th>Atividade</th>
                    <th>Instrutor</th>
                    <th>Titularidade</th>
                    <th>Aluno Monitor</th>
                </tr>
            </thead>

            <!-- linhas -->
            <tbody>
                {% for turma in lista_de_turmas %}
                <tr>
                    <td> {{ turma.numero }}</td>
                    <td> {{ turma.horario_aula|time:"H:i:s" }} </td>
                    <td> {{ turma.duracao_aula }} </td>
                    <td> {{ turma.data_inicial|date:"SHORT_DATE_FORMAT" }} </td>
                    <td> {{ turma.data_final|date:"SHORT_DATE_FORMAT"|default:"--" }} </td>
                    <td> {{ turma.codigo_tipo_atividade.descricao }} </td>
                    <td> {{ turma.id_instrutor.nome|default:"--" }} </td>
                    <td> {{ turma.id_instrutor.codigo_titulo.descricao|default:"--" }} </td>
                    <td> {{ turma.matricula_monitor.nome|default:"--" }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
