{% extends "base_template.html"%}
{% block title %}
    <title>ABC do Saber - Cadastro Instrutor</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Início</a>
            <a href="{% url 'instrutor:cadastrar' %}" class="nav-link active">Cadastrar</a>
            <a href="{% url 'instrutor:listar' %}" class="nav-link">Listar</a>
        </div>
    </div>
{% endblock %}


        <!--
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
    -->

{% block titulo_pagina %}
        <div class="container text-center border-bottom border-primary bg-dark text-light">    
            <div class="row mt-5">
                <div class="col">
                    <h1>Cadastro de Instrutores</h1>
                </div>
            </div>
        </div>
{% endblock %}

        <!-- formulario HTML -->
    {% block corpo %}
        <form name="frmCadastrarInstrutor" action="{% url 'instrutor:cadastrar' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="idNomeInstrutor" class="col-form-label">Nome do Instrutor</label>
                <input class="form-control bg-dark text-light" type="text" id="idNomeInstrutor" name="nome"
                    placeholder="Informe o nome do instrutor" maxlength="70" required>
            </div>

            <div class="form-group">
                <label for='idRg'>RG</label>
                <input class="form-control bg-dark text-light" type='text' id='idRg' name='rg' placeholder="Informe o RG" maxlength="9"
                    required>
            </div>

            <div class="form-group">
                <label for='idDataNascimento'>Data de Nascimento</label>
                <input class="form-control bg-dark text-light" type='date' id='idDataNascimento' name='data_nascimento' required>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for='idDdd'>DDD</label>
                    <input class="form-control bg-dark text-light" type='ddd' id='idDataNascimento' name='ddd' maxlength="3" required>
                </div>
                <div class="col-sm-6">
                    <label for='idTelefone'>Telefone</label>
                    <input class="form-control bg-dark text-light" type='text' id='idTelefone' name='telefone' maxlength="9" required>
                </div>
            </div>

            <div class="form-group">
                <label for="idTitulo">Título do Professor</label>
                <select class="form-control bg-dark text-light" id="idTitulo" name="codigo_titulo" required>
                    <option disabled selected value="0">Selecione...</option>
                    {% for titulo in lista_de_titulos %}
                    <option value={{ titulo.codigo }}>{{ titulo.descricao }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group my-4 text-center">
                <input type="reset" value="Limpar" class="btn btn-primary btn-md">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-md">
            </div>

        </form>
    {% endblock %}