{% extends "base_template.html" %}

{% block title %}
    <title>ABC do Saber - Listar Instrutores</title>
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Início</a>
            <a href="{% url 'instrutor:cadastrar' %}" class="nav-link">Cadastrar</a>
            <a href="{% url 'instrutor:listar' %}" class="nav-link active">Listar</a>
        </div>
    </div>
{% endblock %}

        <!--
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
    -->

{% block titulo_pagina %}
    <div class="container text-center border-bottom border-primary bg-dark text-light">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Instrutores</h1>
            </div>
        </div>
    </div>
{% endblock %}

        <!-- tabela responsiva -->
{% block corpo %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100
                    text-light">

            <!-- cabecalho -->
            <thead>
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Id</th>
                    <th>Nome</th>
                    <th>RG</th>
                    <th>Data Nascimento</th>
                    <th>DDD</th>
                    <th>Telefone</th>
                    <th>Titularidade</th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for professor in lista_de_instrutores %}
            <tr>
                <td>{{ professor.id }}</td>
                <td>{{ professor.nome }}</td>
                <td>{{ professor.rg }}</td>
                <td>{{ professor.data_nascimento|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{ professor.ddd|stringformat:"03d"}}</td>
                <td>{{ professor.telefone }}</td>
                <td>{{ professor.codigo_titulo.descricao }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}