{% extends "base_template.html" %}

{% block title %}
    <title>ABC do Saber - Listar Alunos</title>
{% endblock %}

{% block menu %} 
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Início</a>
            <a href="{% url 'aluno:cadastrar' %}" class="nav-link">Cadastrar</a>
            <a href="{% url 'aluno:listar' %}" class="nav-link active">Listar</a>
        </div>
    </div>
{% endblock %}

        <!--
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
    -->

{% block titulo_pagina %}
    <div class="container text-center border-bottom border-primary bg-dark text-light">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Alunos</h1>
            </div>
        </div>
    </div>
{% endblock %}

        <!-- tabela responsiva -->
{% block corpo %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100
                    text-light">

            <!-- cabecalho -->
            <thead>
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Data Matrícula</th>
                    <th>Data Saída</th>
                    <th>Aluno Monitor</th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for estudante in lista_de_alunos %}
                <tr>
                    <td class="text-center"> {{estudante.matricula|stringformat:"06d"}} </td>
                    <td> {{estudante.nome}} </td>
                    <td> {{estudante.data_matricula|date:"SHORT_DATE_FORMAT"}} </td>
                    <td> {{estudante.data_saida|date:"SHORT_DATE_FORMAT"|default:"--"}} </td>
                    {% if estudante in lista_de_monitores %}
                    <td> SIM </td>
                    {% else %}
                    <td> NÃO </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}